@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-color: linear-gradient(to right bottom, #FFD738, #E51700);
  --success-color: #00B788;
  --background-color: #141414;
  --text-color: #ffffff;
  --font-family: 'Montserrat', sans-serif;
  --default-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: var(--default-font-weight);
  background-color: var(--background-color);
  color: var(--text-color);
}